<div class="side-menu">
  <ul class="side-menu__lists side-menu__lists--title">
    <li class="side-menu__lists">Main </li>
  </ul>
  <ul class="side-menu__lists">


        <li class="side-menu__lists__list {{#is basename 'dashboard'}} active {{/is}}">
           <a href="#">
          <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
      </svg>  dashboard
         </a>
         </li>

        <li class="side-menu__lists__list"> <a href="#">
          <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#paint"></use>
          </svg> Ul Kit
        </a>
       </li>

        <li class="side-menu__lists__list"> <a href="#">
        <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#call"></use>
        </svg>Typograph
        </a>
        </li>


        <li class="side-menu__lists__list"> <a href="#">
        <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#compon"></use>
        </svg>Commponents
        </a>
        </li>

        <li class="side-menu__lists__list"> <a href="#">
        <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon"></use>
        </svg>    Icons
        </a>
        </li>

        <li class="side-menu__lists__list"> <a href="#">
        <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#forms"></use>
        </svg> Forms
        </a>
        </li>

        <li class="side-menu__lists__list"> <a href="#">More </a>
        </li>

        <li class="side-menu__lists__list"> <a href="#">
            <svg class="svg-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tables"></use>
            </svg>    Tables
            </a>
            </li>

        <li class="side-menu__lists__list"> <a href="#">
            <svg class="svg-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#charts"></use>
            </svg>Charts
          </a>
          </li>

        <li class="side-menu__lists__list"> <a href="#">
            <svg class="svg-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#maps"></use>
            </svg>Maps
          </a>
          </li>

            <li class="side-menu__lists__list">
            <a href="#">
            <svg class="svg-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mail"></use>
            </svg> Mail
            </a>
            </li>


            <li class="side-menu__lists__list"> <a href="#">
            <svg class="svg-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#extras"></use>
        </svg> Extras
            </a>
            </li>

            <li class="side-menu__lists__list"> <a href="#">
                <svg class="svg-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pages"></use>
                </svg> Pages
            </a>
           </li>

           <li class="side-menu__lists__list"> <a href="#">
               <svg class="svg-icon">
               <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#extras"></use>
               </svg> Pages
           </a>
          </li>
          <li class="side-menu__lists__list"> <a href="#">
              <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#multi"></use>
              </svg> Pages
          </a>
         </li>

          </ul>
</div>
